html {
    max-width: 700px;
    margin: 0 auto;
    background: #d3ffbb; /* Fills the page */
    position: relative; /* Fix for absolute positioning */
}

button {
    background-color: #ace538; /* yellow green button */
    position: relative;
    border: none;
    height: 55px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 2px;
    border-radius: 6px;
}

button:hover {
    background-color: #90be2d;
}

.stop {
    background-color: #ff6e01;
    font-size: 25px;
    border-radius: 50%;
    /*margin-top: 0;*/
}

.stop:hover {
    background-color: #d75d01;
}

.up {
    top: 10px;
}

.down {
    margin-top: -8px;
}

.off {
    background-color: #ff000a; /* yellow green button */
    border: none;
    padding: 10px;
    margin: 20px;
    border-radius: 6px;
}

.off:hover {
    background-color: #cb0000;
}

span {
    font-size: 220%;
}

div.signal {
    border: 2px solid yellowgreen;
}

div.keyboard {
    text-align: center;
    border: 2px dashed yellowgreen;
    border-radius: 8px;
}

div.maps {
    float: right;
    text-align: center;
    width: 30%;
}

article {
    /*margin-right: 30%;*/
    /*border-right: 1px solid gray;*/
    margin-right: 0%;
    padding: 1em;
    overflow: hidden;
}

header {
    padding: 0.2em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}