<!DOCTYPE html>
<html lang="en">
<head>
    <title>We will miss you</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: #d3ffbb;
        }
    </style>
</head>

<body>
<a>Logging out...</a>
<script>
    setTimeout(function () {
        document.write(
            "<style>\n" +
            "        body {\n" +
            "            background-color: #d3ffbb;\n" +
            "        }\n" +
            "    </style>" +
            "<title>We will miss you</title>" +
            "<div align=\"center\">\n" +
            "<h1>Server terminated</h1>\n" +
            "Until next time\n" +
            "</div>")
    }, 3000);
</script>
</body>
</html>